<style>body{margin:0}#video{width:100vw;height:100vh;}</style>
<div id="video"></div>
<script src="https://media.network/demo/peerpool.js"></script>
<script src="https://cdn.jsdelivr.net/npm/clappr@latest"></script>
<script>
  if (p2pml.hlsjs.Engine.isSupported()) {
    var engine = new p2pml.hlsjs.Engine();
    var loader = engine.createLoaderClass();
  } else {
    var loader = XHRLoader;
  }
  var engine = new p2pml.hlsjs.Engine();
  var player = new Clappr.Player({
    parentId: "#video",
    source: "https://YourHostId/live/<%= name %>/index.m3u8",
    width:"100%",
    height:"100%",
    playback: {
      hlsjsConfig: {
        liveSyncDurationCount: 7,
        loader: loader
      }
    }
  });
  if (p2pml.hlsjs.Engine.isSupported()) p2pml.hlsjs.initClapprPlayer(player);
  player.play(true);
</script>
